@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
}
img {
    width: 100%;
    height: 100%;
}   
.main {
    width: 100%;
    max-width: 900px;
    display: flex;
    margin: 50px auto;
}
.container {
    display: flex;
}
.first{
    display: flex;
    flex: 1;
    margin-right: 10px;
}
.textPhotos{
    position: relative;
    z-index: 10;
    display: inline-block;
}
.textPhotos h2 span{
    position: absolute;
    left: -10px;
    transform: rotate(-90deg);
    bottom: 60px;
}
.others{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
}
.bot{
    display: flex;
}
.images{
    margin: 0 10px;
    filter: grayscale(0) blur(0);
}
.textPhotos h2 span::after {
    content: '';
    width: 30px;
    height: 0.5px;
    margin-left: 10px;
    position: absolute;
    bottom: 10px;
    vertical-align: middle;
    background-color: red;
    
}
.images:hover img {
    transform: 2s;
    filter: grayscale(100%) blur(3px);
}
